extensions:
    translate: ElCheco\Translator\Extension

translate:
    default: cs_CZ
    dictionary:
        factory: ElCheco\Translator\NeonDictionary\NeonDictionaryFactory
        args:
            directory: %appDir%/translations
            cache: %tempDir%/cache/translations
